[workspace]
members = ["net", "sqlite"]

[package]
name = "ipfs-embed"
version = "0.11.0"
authors = ["David Craven <david@craven.ch>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "small embeddable ipfs implementation"
repository = "https://github.com/ipfs-rust/ipfs-embed"

[dependencies]
async-global-executor = "2.0.2"
async-trait = "0.1.47"
fnv = "1.0.7"
futures = "0.3.13"
ipfs-embed-net = { version = "0.11.0", path = "net" }
ipfs-embed-sqlite = { version = "0.11.0", path = "sqlite" }
libipld = { version = "0.11.0", default-features = false }
prometheus = "0.11.0"
tide = "0.16.0"
tracing = "0.1.25"

[dev-dependencies]
anyhow = "1.0.38"
async-std = { version = "1.9.0", features = ["attributes"] }
libipld = { version = "0.11.0", default-features = false, features = ["dag-cbor", "dag-pb", "derive"] }
libp2p-bitswap = { version = "0.13.0", default-features = false, features = ["compat"] }
multihash = { version = "0.13.2", default-features = false, features = ["blake3"] }
rand = "0.8.3"
tracing-subscriber = "0.2.16"

[profile.release]
debug = true

#[[bench]]
#name = "sync"
#harness = false
